
.header{
    background-color: #E8CCB2;
    padding:0 10px;
}

.header img{
    margin: 10px;
    height: 50px;
    width: 50px;

}

.redir{
    padding: 20px 10px;
    text-align: center;
}

.redir:hover{
    background-color: white;
}

.redir:hover a{
    color: black;
    text-decoration: none;
}

.header a{
    font-size: 15px;
    margin:0 auto;
    color: white;
    text-decoration: none;
}

.registerBtn{
    padding: 20px 10px;
    text-align: center;
}

.registerBtn a{
    background-color: #49413a;
    padding: 10px 15px;
    border-radius: 20px;
}

.footer{
    background-color: #E8CCB2;
    padding:15px 10px;

}

.footer img{
    margin: 10px;
    height: 60px;
    width: 60px;
    display: flex;
}

#infoTitle{
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

.informationCard{
    background-color: #a99481;
    padding: 5px 10px;
    border-radius: 15px;
}

.informationCard p{
    font-size: 16px;
    color: white;
}

.contactInfo{
    margin-left: 15px;
}

.profilePhoto img{
    height: 40px;
    width: 40px;
    margin: 15px 0;
}

.username{
    margin: 15px 0;
    text-align: left;
}

.username a{
    font-weight: bold;
    font-size: 14px;
    background-color: #cbb29a;
    border-radius: 10px;
    padding: 5px 10px;
}

.logout{
    margin: 15px 0px 15px ;
    text-align: left;
}

.logout a{
    font-weight: bold;
    font-size: 14px;
    
}

.firstName{
    font-weight: bold;
    font-size: 14px;
    margin: 25px 0;
}
