.banner .row{
    position: relative;
    text-align: center;
}

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    font-weight: bolder;
}

.belowTitle{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c6c6c6;
    font-size: 15px;
}

.dashboard{
    position: relative;
    right: 0;
    background-color: #D9D9D9;
    
}



