.left-board{
    margin: 15px;
    padding: 0;
}

.option{
    background-color: #E8CCB2;
    padding: 20px;
    color: white;
    text-align: center;
    border: #000 solid 1px;
    
}

#currentOption{
    background-color: white;
    color: black;
}

.option a{
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#currentOption a{
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.right-board{
    margin-top: 15px;
}

#personalInfo{
    margin: 10px 0;
    font-size: 35px;
    font-weight: bold;
}

#lastOption{
    border-bottom: 1px solid black;
}

.infoRow{
    font-size: 20px;
}

.infoTitle{
    font-weight: bold;
}

.right-board{
    border: 1px solid black;
    border-radius: 15px;
    
}